/* Get container styles */
.getContainer {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title styles */
.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.87);
}

/* Card container styles */
.list {
  margin-top: 50px;
  display: flex;
  gap: 29px;
  row-gap: 29px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .list {
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .list {
    gap: 16px;
    row-gap: 16px;
  }
}

.userCard {
  background-color: #ffffff;
  border-radius: 4px;
  width: 370px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 20px;
}

@media (max-width: 767px) {
  .userCard {
    width: 328px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .userCard {
    width: 344px;
  }
}

@media (min-width: 1024px) and (max-width: 1169px) {
  .userCard {
    width: 282px;
  }
}

.photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name {
  margin: 20px 0px 20px 0px;
}

/* Button styles */
.button {
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 4px 19px;
  width: 120px;
  max-height: 34px;
  border: transparent;
  border-radius: 80px;
  background-color: #f4e041;
  white-space: nowrap;
  cursor: pointer;
}
