/* Title styles */
.titleContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url('../../images/pexels-alexandr-podvalny-1227513.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 164px 395px 163px 395px;
}

@media (max-width: 767) {
  .titleContainer {
    padding: 40px 16px 72px 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .titleContainer {
    padding: 89px 194px 88px 194px;
  }
}

@media (min-width: 1024px) and (max-width: 1169px) {
  .titleContainer {
    padding: 164px 322px 163px 322px;
  }
}

/* Title styles */
.title {
  margin-top: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

/* Paragraph styles */
.paragraph {
  margin-top: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

/* Button styles */
.button {
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 4px 23px;
  width: 100px;
  max-height: 34px;
  border: transparent;
  border-radius: 80px;
  background-color: #f4e041;
  white-space: nowrap;
  cursor: pointer;
}
